@charset "UTF-8";
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('./fonts/ProximaNova-Light.eot?') format('eot'),
	     url('./fonts/ProximaNova-Light.otf')  format('opentype'),
	     url('./fonts/ProximaNova-Light.woff') format('woff'),
	     url('./fonts/ProximaNova-Light.ttf')  format('truetype'),
	     url('./fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
}
::-moz-selection {
  text-shadow: none;
}

.icon {
  height: 18px;
  width: 18px;
}

body { font-family: 'ProximaNova-Light' !important; }
h1, h2, h3, h4 { font-weight: normal; }
